@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

html.is-fixed {
  overflow: hidden;
}

body {
  background-color: #111;
  color: #fff;
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/*コンテンツが少ないときフッターを固定*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.article-recommend__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.125em;
  padding: 12px 0;
  padding: 0.75rem 0;
  text-align: center;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .article-recommend__title {
    background-color: #333;
  }
}

.article-recommend__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .article-recommend__items {
    margin-top: 5rem;
  }
}

.article-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-meta__category {
  margin-left: 24px;
  margin-left: 1.5rem;
}

.article-meta__category a {
  display: inline-block;
  color: #fff;
  background-color: #111;
  padding: 8px 23px;
  padding: 0.5rem 1.4375rem;
  border: 1px solid #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.article-meta__category a:hover {
  color: #111;
  background-color: #fff;
}

.article__inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .article__inner {
    max-width: 850px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.article__info {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .article__info {
    margin-top: 2rem;
  }
}

.article__content p {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.1875;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 768px) {
  .article__content p {
    margin-top: 2rem;
  }
}

.article__content figure {
  position: relative;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .article__content figure {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.article__content figure::before {
  content: "";
  display: block;
  padding-top: 66.9333333333%;
}
@media screen and (min-width: 768px) {
  .article__content figure::before {
    padding-top: 53.375%;
  }
}

.article__content figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.article__content h2 {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-left: 10px;
  padding-left: 0.625rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .article__content h2 {
    margin-top: 2rem;
  }
}

.article__content h2::before {
  content: "";
  width: 3px;
  width: 0.1875rem;
  height: 100%;
  background-color: #c4c4c4;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article__content h3 {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1111111111em;
  margin-top: 24px;
  margin-top: 1.5rem;
  border-bottom: 3px solid #fff;
}
@media screen and (min-width: 768px) {
  .article__content h3 {
    margin-top: 2rem;
  }
}

.article__content h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 73px;
  width: 4.5625rem;
  height: 3px;
  background-color: #ffea2e;
}

.article__content ul,
.article__content ol {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .article__content ul,
.article__content ol {
    margin-top: 2rem;
  }
}

.article__content ul li {
  line-height: 2.1875;
  letter-spacing: 0.025em;
  list-style: disc;
  list-style-position: inside;
}

.article__content ol li {
  line-height: 2.1875;
  letter-spacing: 0.025em;
  list-style: decimal;
  list-style-position: inside;
}

.article__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .article__links {
    margin-top: 6.5rem;
  }
}

.article__links a {
  display: inline-block;
  width: 71px;
  width: 4.4375rem;
  color: #fff;
  background-color: #111;
  border: 1px solid #fff;
  line-height: 1;
  padding: 3px 18.5px;
  padding: 0.1875rem 1.15625rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
  white-space: nowrap;
}

.article__links a:hover {
  color: #111;
  background-color: #fff;
}

.article__links-prev a,
.article__links-next a {
  padding: 3px 14px;
  padding: 0.1875rem 0.875rem;
}

.article__links-list a {
  margin-left: 48px;
  margin-left: 3rem;
  margin-right: 48px;
  margin-right: 3rem;
}

.breadcrumb {
  letter-spacing: 0.0625em;
}

.breadcrumb__inner {
  padding-top: 16px;
  padding-top: 1rem;
  height: 40px;
  height: 2.5rem;
}

.button {
  display: inline-block;
  background-color: #333;
  font-size: 20px;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: 9px;
  padding: 0.5625rem;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  max-width: 334px;
  max-width: 20.875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
    letter-spacing: 0.125em;
    line-height: 3.375;
    max-width: 22.5rem;
    padding: 0.125rem 5.5625rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .button:hover {
    color: #333;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .button:hover::before {
    left: 0;
  }
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .button--contact {
    font-size: 1.25rem;
    line-height: 1.45;
    letter-spacing: 0.1em;
    padding: 0.9375rem;
  }
}

@media screen and (min-width: 768px) {
  .button--news {
    width: 100%;
    max-width: 8.375rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    background-color: #fff;
    color: #000;
    padding: 0.4375rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .button--news:hover {
    color: #fff;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .button--news::before {
    background-color: #333;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .button-.button--news::before {
    left: 0;
  }
}

.card {
  display: block;
  background-color: #fff;
  color: #333;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.card:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.card__img {
  position: relative;
}

.card__img::before {
  content: "";
  display: block;
  padding-top: 66.5671641791%;
}
@media screen and (min-width: 768px) {
  .card__img::before {
    padding-top: 66.5714285714%;
  }
}

.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card__img--recommend::before {
    padding-top: 58.9641434263%;
  }
}

.card__body {
  padding: 4px 23px 16px;
  padding: 0.25rem 1.4375rem 1rem;
}

.card__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: -3px;
  margin-left: -0.1875rem;
  letter-spacing: 0.0555555556em;
  line-height: 1.9444444444;
}
@media screen and (min-width: 768px) {
  .card__title {
    margin-left: -0.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .card__title--recommend {
    font-size: 0.875rem;
  }
}

.card__body p {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 2px;
  margin-top: 0.125rem;
  line-height: 1.8571428571;
  letter-spacing: 0.0714285714em;
}
@media screen and (min-width: 768px) {
  .card__body p {
    margin-top: 0.375rem;
  }
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  margin-top: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .card__info {
    margin-top: 0.625rem;
  }
}

.card__date {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.0714285714em;
  line-height: 1.8571428571;
}

.tag__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.tag__item {
  padding: 6px 5px;
  padding: 0.375rem 0.3125rem;
  color: #333;
  background-color: #ffea2e;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.0714285714em;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .cards__item {
    width: 100%;
    max-width: calc(33.33333% - 1.04167rem);
  }
}

.cards__item + .cards__item {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .cards__item + .cards__item {
    margin-top: 0;
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .cards__item:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards__item:nth-of-type(n + 4) {
    margin-top: 1.5625rem;
  }
}

.cards__item--top {
  position: relative;
}
.cards__item--top::before {
  content: "new";
  display: block;
  position: absolute;
  top: -15px;
  top: -0.9375rem;
  left: -15px;
  left: -0.9375rem;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  background-color: #ffba6a;
  color: #333;
  text-transform: capitalize;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 77;
}

@media screen and (min-width: 768px) {
  .cards__item--recommend {
    width: 100%;
    max-width: calc(25% - 1.5rem);
  }
}

.cards__item--recommend + .cards__item--recommend {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .cards__item--recommend + .cards__item--recommend {
    margin-top: 0;
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .cards__item--recommend:nth-of-type(4n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards__item--recommend:nth-of-type(n + 5) {
    margin-top: 1.5625rem;
  }
}

.category__inner {
  padding-top: 85px;
  padding-top: 5.3125rem;
  padding-bottom: 37px;
  padding-bottom: 2.3125rem;
}
@media screen and (min-width: 768px) {
  .category__inner {
    padding-top: 7.1875rem;
    padding-bottom: 2.5rem;
  }
}

.category__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__item {
  margin: 18px 13px 0;
  margin: 1.125rem 0.8125rem 0;
}
@media screen and (min-width: 768px) {
  .category__item {
    margin: 0 1.1875rem 0;
  }
}

.category__item a {
  color: #fff;
  display: inline-block;
  letter-spacing: 0.125em;
}

.category__item a.cat-current {
  color: #333;
  background-color: #fff;
  padding: 3px 8px;
  padding: 0.1875rem 0.5rem;
}

.common-mv {
  position: relative;
}

.common-mv__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.common-mv__title {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.0666666667em;
}
@media screen and (min-width: 768px) {
  .common-mv__title {
    font-size: 2.1875rem;
  }
}

.common-mv__img {
  padding-top: 113.3333333333%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .common-mv__img {
    padding-top: 28.90625%;
  }
}

.common-mv__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-form {
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .contact-form {
    padding-bottom: 9.375rem;
  }
}

.contact-form__inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-form__inner {
    max-width: 746px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-form__item + .contact-form__item {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .contact-form__item + .contact-form__item {
    margin-top: 2.8125rem;
  }
}

.contact-form__submit [type=submit] {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #fff;
  color: #333;
  padding: 11px 147px;
  padding: 0.6875rem 9.1875rem;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .contact-form__submit [type=submit] {
    padding: 0.9375rem 10rem;
  }
}

.contact-form__submit [type=submit]:hover,
.contact-form__submit [type=submit]:focus {
  outline: none;
}

.contact-form__submit [type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

.contact-form__submit {
  text-align: center;
  margin-top: 48px;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .contact-form__submit {
    margin-top: 3.5rem;
  }
}

.wpcf7 form .wpcf7-response-output {
  width: 300px;
  width: 18.75rem;
  margin: 0 auto 30px;
  margin: 0 auto 1.875rem;
  border: none;
  color: #ff5757;
  letter-spacing: 0.125em;
}

.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7-not-valid {
  background-color: #ffdcdc;
}

.explain__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0 22px;
  padding: 0.875rem 0 1.375rem;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  font-size: 0.8125rem;
}

.explain__header {
  width: 100%;
  max-width: 63px;
  max-width: 3.9375rem;
}

.explain__description {
  margin-left: 57px;
  margin-left: 3.5625rem;
  line-height: 1.8461538462;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .explain__description {
    margin-left: 5.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-nav__item {
  margin-top: 8px;
  margin-top: 0.5rem;
  letter-spacing: 0.075em;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .footer-nav__item {
    position: relative;
    margin-top: 0;
    margin-left: 2rem;
    letter-spacing: 0.125em;
    line-height: 2.1875;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav__item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #ffea2e;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav__item:hover:after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.footer__wrapper {
  padding: 48px 20px;
  padding: 3rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 2rem 2rem 1.25rem;
  }
}

.footer__head {
  margin-top: 3px;
  margin-top: 0.1875rem;
  margin-left: 3px;
  margin-left: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .footer__head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

.footer__logo {
  width: 70px;
  width: 4.375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
    margin: initial;
  }
}

.footer__bottom {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    margin-top: 4.0625rem;
  }
}

.footer__copyright {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.1090909091em;
  line-height: 1.4545454545;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9375rem;
    letter-spacing: 0.08em;
    line-height: 2.3333333333;
  }
}

.form-item__label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .form-item__label {
    width: 100%;
    max-width: 8.25rem;
    text-align: right;
    margin-top: 1rem;
    white-space: nowrap;
  }
}

.form-item__text {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  background-image: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .form-item__text {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.form-item__text [type=text],
.form-item__text [type=email] {
  font-size: 16px;
  font-size: 1rem;
  padding: 10px;
  padding: 0.625rem;
  width: 100%;
}

.form-item__text:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-item__text-area {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  background-image: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  max-width: 540px;
  max-width: 33.75rem;
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .form-item__text-area {
    margin-left: 1.5rem;
    margin-top: 0;
  }
}

textarea {
  font-size: 16px;
  font-size: 1rem;
  height: 250px;
  height: 15.625rem;
  padding: 10px;
  padding: 0.625rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  textarea {
    height: 18.75rem;
  }
}

.form-item__text-area:focus {
  border: 1px solid #111;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.hamburger__bar {
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.hamburger__bar-top {
  top: 8px;
  top: 0.5rem;
}

.hamburger__bar-mid {
  top: 0;
}

.hamburger__bar-bottom {
  bottom: 18px;
  bottom: 1.125rem;
}

.js-drawer-open.open .hamburger__bar-top {
  -webkit-transform: translate(-50%, -0.4375rem) rotate(45deg);
          transform: translate(-50%, -0.4375rem) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.js-drawer-open.open .hamburger__bar-mid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.js-drawer-open.open .hamburger__bar-bottom {
  -webkit-transform: translate(-50%, 0.5rem) rotate(-45deg);
          transform: translate(-50%, 0.5rem) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__inner {
  position: fixed;
  top: 0;
  height: 50px;
  height: 3.125rem;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22px;
  padding: 0 1.375rem;
  background-color: rgba(0, 0, 0, .5);
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding: 0;
  }
}

.header__inner--color {
  background-color: #111;
}

.header__logo {
  width: 70px;
  width: 4.375rem;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 5.875rem;
    margin-left: 2.0625rem;
    margin-top: 0.5rem;
  }
}

.header__drawer-btn {
  width: 24px;
  width: 1.5rem;
  height: 13px;
  height: 0.8125rem;
  position: relative;
  z-index: 99;
  border: none;
}

.l-margin {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .l-margin {
    margin-top: 2rem;
  }
}

.l-margin--contact {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-margin--contact {
    margin-top: 9.375rem;
  }
}

.l-margin--news {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .l-margin--news {
    margin-top: 4.3125rem;
  }
}

.l-margin--content {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .l-margin--content {
    margin-top: 4.3125rem;
  }
}

.l-margin--overview {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .l-margin--overview {
    margin-top: 7.1875rem;
  }
}

.l-margin--map {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-margin--map {
    margin-top: 5rem;
  }
}

.l-margin--contact-form {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .l-margin--contact-form {
    margin-top: 7.1875rem;
  }
}

.l-margin--article {
  margin-top: 78px;
  margin-top: 4.875rem;
}
@media screen and (min-width: 768px) {
  .l-margin--article {
    margin-top: 5.6875rem;
  }
}

.l-margin--article-recommend {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-margin--article-recommend {
    margin-top: 6.5rem;
  }
}

.l-margin--pagenavi {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-margin--pagenavi {
    margin-top: 6.5rem;
  }
}

.l-margin--header {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.l-margin--thanks {
  margin-top: 130px;
  margin-top: 8.125rem;
}
@media screen and (min-width: 768px) {
  .l-margin--thanks {
    margin-top: 12.5rem;
  }
}

.map {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .map {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

.map iframe {
  width: 100%;
  height: 300px;
  height: 18.75rem;
}
@media screen and (min-width: 768px) {
  .map iframe {
    height: 22.9375rem;
  }
}

.my-work__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.my-work__img::before {
  content: "";
  display: block;
  padding-top: 66.4%;
}
@media screen and (min-width: 768px) {
  .my-work__img::before {
    padding-top: 66.4761904762%;
  }
}

.my-work__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.my-work__category {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111;
  color: #fff;
  padding: 9px 20px;
  padding: 0.5625rem 1.25rem;
}

.my-work__title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .my-work__title {
    margin-top: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .news-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news-post--page {
  width: 100%;
  max-width: 860px;
  max-width: 53.75rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .news-post--page {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.news-post__link {
  display: block;
}
@media screen and (min-width: 768px) {
  .news-post__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.news-post__link:hover {
  opacity: 1;
}

.news-post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-post__date {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .news-post__date {
    margin-right: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .news-post__date--page {
    margin-right: 2.1875rem;
  }
}

.news-post__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #fff;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  height: 31px;
  height: 1.9375rem;
  min-width: 99px;
  min-width: 6.1875rem;
}
@media screen and (min-width: 768px) {
  .news-post__category {
    margin-right: 3.8125rem;
  }
}

.news-post__text {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .news-post__text {
    margin-top: 0;
    margin-right: 3rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.news-post__text--top {
  -webkit-text-decoration: underline #111;
          text-decoration: underline #111;
}

@media screen and (min-width: 768px) {
  .news-post__text--page {
    line-height: 1.5;
    margin-right: 0;
  }
}

.news-post__link:hover .news-post__text--top {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

.news-post__link:hover .news-post__text--page {
  color: #f9f871;
}

.news-post__btn {
  margin-top: 27px;
  margin-top: 1.6875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news-post__btn {
    width: 100%;
    max-width: 8.375rem;
    margin-top: 0;
    margin-left: auto;
    padding-top: 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  .news__inner--page {
    max-width: 910px;
  }
}

.news__content + .news__content {
  margin-top: 32px;
  margin-top: 2rem;
}

.pc-header-nav {
  height: inherit;
}

.pc-header-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-header-nav__item {
  height: inherit;
  margin-left: 30px;
  margin-left: 1.875rem;
}

.pc-header-nav__item a {
  position: relative;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-header-nav__item:not(:last-child) a::after {
  content: "";
  position: absolute;
  bottom: 9px;
  bottom: 0.5625rem;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffea2e;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.pc-header-nav__item:not(:last-child) a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.pc-header-nav__item:not(:last-child).current a::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.pc-header-nav__item:last-child {
  background-color: #fff;
  width: 170px;
  width: 10.625rem;
  height: 50px;
  height: 3.125rem;
}

.pc-header-nav__item:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  line-height: 1;
  letter-spacing: 0.125em;
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  opacity: 1;
}

.pc-header-nav__item:last-child a:hover {
  color: #fff;
}

.pc-header-nav__item:last-child a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.pc-header-nav__item:last-child a:hover::before {
  left: 0;
}

.point {
  position: relative;
  border: 1px solid #fff;
  padding: 56px 10px 33px;
  padding: 3.5rem 0.625rem 2.0625rem;
}

.point__title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.02em;
  background-color: #111;
  border: 1px solid #fff;
  border-radius: 3.125rem;
  padding: 10px 24px;
  padding: 0.625rem 1.5rem;
  position: absolute;
  top: -23px;
  top: -1.4375rem;
  left: 24px;
  left: 1.5rem;
}

.point__text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.1875;
  letter-spacing: 0.025em;
}

.points__item {
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .points__item {
    margin-top: 4.4375rem;
  }
}

.section-body__inner {
  padding: 24px 20px 21px;
  padding: 1.5rem 1.25rem 1.3125rem;
}
@media screen and (min-width: 768px) {
  .section-body__inner {
    padding: 0;
    width: 100%;
    max-width: 33.875rem;
  }
}

.section-body__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .section-body__title {
    font-size: 1.5625rem;
    text-align: left;
    text-align: initial;
    margin-top: 1.875rem;
    letter-spacing: 0.02em;
  }
}

.section-body__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .section-body__text {
    margin-top: 2.25rem;
    letter-spacing: 0.03125em;
    line-height: 2.1875;
  }
}

.section-header {
  position: relative;
  text-align: center;
  padding-top: 49px;
  padding-top: 3.0625rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .section-header {
    padding-top: 2.8125rem;
    padding-bottom: 2.9375rem;
  }
}

.section-header__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .section-header__title {
    font-size: 1.875rem;
    line-height: 1.1666666667;
  }
}

.section-header__subtitle {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 50px;
  font-size: 3.125rem;
  text-transform: capitalize;
  color: #f9f871;
  opacity: 0.2;
  font-family: "Noto Serif JP", serif;
  line-height: 1.44;
}
@media screen and (min-width: 768px) {
  .section-header__subtitle {
    left: 0;
    -webkit-transform: none;
            transform: none;
    font-size: 6.875rem;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--works {
    top: -7%;
    left: 68.5%;
  }
}

.section-header__title--blog {
  padding-top: 2px;
  padding-top: 0.125rem;
}
@media screen and (min-width: 768px) {
  .section-header__title--blog {
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--blog {
    left: 78%;
    top: -7%;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--contact {
    top: -60%;
  }
}

.section-header__text {
  text-align: left;
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
}
@media screen and (min-width: 768px) {
  .section-header__text {
    width: 100%;
    max-width: 35.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .section-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.sp-header-nav {
  visibility: hidden;
  background-color: #111;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 88;
}

.sp-header-nav__items {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.sp-header-nav__item {
  margin-top: 32px;
  margin-top: 2rem;
}

.sp-header-nav__item:first-child {
  margin-top: 0;
}

/* メニューオープン時 */
.sp-header-nav.open {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper--mv .swiper-slide-active .slide-img,
.swiper--mv .swiper-slide-duplicate-active .slide-img,
.swiper--mv .swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper--mv .slide-img img {
  display: block;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .swiper--top-works {
    width: 100%;
    max-width: 34.8125rem;
  }
}

.swiper-pagination-bullet {
  background: #c4c4c4 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f9f871 !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -21px !important;
  bottom: -1.3125rem !important;
  left: -2px !important;
  left: -0.125rem !important;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -1.875rem !important;
    left: -1.3125rem !important;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px !important;
}

.gallery__slider {
  width: 100%;
  height: 251px;
  height: 15.6875rem;
  margin: 0 0 32px 0;
}
@media screen and (min-width: 768px) {
  .gallery__slider {
    height: 26.6875rem;
  }
}

.gallery__slider .swiper-slide {
  width: auto;
  position: relative;
  overflow: hidden;
}

.gallery__slider .swiper-slide::before {
  content: "";
  display: block;
  padding-top: 66.9333333333%;
}

.gallery__slider .swiper-slide img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gallery__thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.gallery__thumbs .swiper-slide {
  width: 163px;
  width: 10.1875rem;
  height: 163px;
  height: 10.1875rem;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery__thumbs .swiper-slide {
    width: 5.8125rem;
    height: 5.8125rem;
  }
}

.gallery__thumbs .swiper-slide-active {
  opacity: 1;
}

.gallery__thumbs .swiper-slide img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gallery__slider .swiper-button-prev {
  left: 7px;
}
@media screen and (min-width: 768px) {
  .gallery__slider .swiper-button-prev {
    left: 17px;
  }
}

.gallery__slider .swiper-button-prev::after {
  content: url(../images/prevbtn.png);
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
@media screen and (min-width: 768px) {
  .gallery__slider .swiper-button-prev::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery__slider .swiper-button-next {
  right: 7px;
}
@media screen and (min-width: 768px) {
  .gallery__slider .swiper-button-next {
    right: 17px;
  }
}

.gallery__slider .swiper-button-next::after {
  content: url(../images/nextbtn.png);
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
@media screen and (min-width: 768px) {
  .gallery__slider .swiper-button-next::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.tag__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-left: -0.625rem;
  margin-top: -10px;
  margin-top: -0.625rem;
}

.tag__item {
  padding: 6px 5px;
  padding: 0.375rem 0.3125rem;
  color: #333;
  background-color: #ffea2e;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.0714285714em;
  margin-left: 10px;
  margin-left: 0.625rem;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.works-article__info {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .works-article__info {
    margin-top: 2rem;
  }
}

.works-article__gallery {
  width: 100%;
  max-width: 800px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .works-article__gallery {
    margin-top: 2rem;
  }
}

.works-article__point {
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .works-article__point {
    margin-top: 6.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .works-article__point-wrapper {
    max-width: 53.125rem;
  }
}

.wp-pagenavi {
  clear: both;
  text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
  color: #fff;
  background-color: #111;
  border: 1px solid #fff;
  padding: 3px 7px;
  padding: 0.1875rem 0.4375rem;
  margin: 0 8px;
  margin: 0 0.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
}

.wp-pagenavi a:hover {
  color: #111;
  background-color: #fff;
  border-color: #fff;
}

.wp-pagenavi span.current {
  color: #111;
  background-color: #fff;
  border-color: #fff;
}

.page-404 {
  text-align: center;
}

.page-404__inner {
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .page-404__inner {
    padding-bottom: 9.375rem;
  }
}

.page-404__title {
  color: #f9f871;
  opacity: 0.2;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.875;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .page-404__title {
    font-size: 3.75rem;
    line-height: 0.5833333333;
    letter-spacing: 0.0333333333em;
  }
}

.page-404__text {
  margin-top: 80px;
  margin-top: 5rem;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .page-404__text {
    font-size: 1.875rem;
    letter-spacing: 0.0666666667em;
  }
}

.page-404__btn {
  margin-top: 80px;
  margin-top: 5rem;
}

.page-content__header {
  padding-top: 0;
  padding-bottom: 0;
}

.page-content__contents {
  margin-top: 80px;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .page-content__content {
    width: 100%;
    max-width: 68.125rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .page-content__content:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.page-content__content + .page-content__content {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .page-content__content + .page-content__content {
    margin-top: 6.5rem;
  }
}

@media screen and (min-width: 768px) {
  .page-content__img {
    width: 50.46%;
  }
}

.page-content__wrapper {
  padding: 24px 20px;
  padding: 1.5rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .page-content__wrapper {
    width: 46.79%;
    padding: 1.875rem;
  }
}

.page-content__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-content__title {
    font-size: 1.5625rem;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.page-content__text {
  font-size: 16px;
  font-size: 1rem;
  line-height: auto;
  letter-spacing: 0.125em;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.page-thanks {
  text-align: center;
}

.page-thanks__inner {
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .page-thanks__inner {
    padding-bottom: 9.375rem;
  }
}

.page-thanks__title,
.page-thanks__text {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .page-thanks__title,
.page-thanks__text {
    font-size: 1.875rem;
    line-height: 1;
    letter-spacing: 0.0666666667em;
  }
}

.page-thanks__text {
  margin-top: 80px;
  margin-top: 5rem;
}

.page-thanks__btn {
  margin-top: 80px;
  margin-top: 5rem;
}

.page-top {
  position: fixed;
  right: 20px;
  right: 1.25rem;
  bottom: 30px;
  bottom: 1.875rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .page-top {
    right: 1.9375rem;
    bottom: 1.3125rem;
  }
}

.page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background-color: #fff;
}

.page-top a:hover {
  background-color: #3d3d3d;
}

.page-top a::before {
  content: "";
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-top a:hover::before {
  border-color: #fff;
}

.page-works___contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .page-works___contents {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page-works__content {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-works__content {
    max-width: calc(50% - 1.5rem);
  }
}

.page-works__content + .page-works__content {
  margin-top: 48px;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .page-works__content + .page-works__content {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .page-works__content:nth-child(even) {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .page-works__content:nth-child(n+3) {
    margin-top: 7.125rem;
  }
}

.blog__inner {
  padding-top: 48px;
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .blog__header {
    padding-bottom: 2.625rem;
  }
}

.blog__items {
  padding-top: 17px;
  padding-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .blog__items {
    padding-top: 0;
  }
}

.blog__btn {
  margin-top: 23px;
  margin-top: 1.4375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog__btn {
    margin-top: 2.75rem;
  }
}

.contact {
  background-color: #3d3d3d;
}

.contact__inner {
  padding-top: 19px;
  padding-top: 1.1875rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding-top: 6.5rem;
    padding-bottom: 9.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__header {
    padding-bottom: 0;
  }
}

.contact__text {
  margin-top: -29px;
  margin-top: -1.8125rem;
}
@media screen and (min-width: 768px) {
  .contact__text {
    margin-top: 1.5rem;
    text-align: center;
  }
}

.contact__btn {
  margin-top: 47px;
  text-align: center;
  color: #fff;
}

.top-content {
  width: 100%;
  position: relative;
}

.top-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  height: 0.1875rem;
  top: 458px;
  top: 28.625rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f9f871;
  -webkit-transform: skewY(61deg);
          transform: skewY(61deg);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top-content::before {
    top: 45.1875rem;
    -webkit-transform: skewY(45deg);
            transform: skewY(45deg);
  }
}

.top-content {
  padding-top: 101px;
  padding-top: 6.3125rem;
}
@media screen and (min-width: 768px) {
  .top-content {
    padding-top: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .top-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.top-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .top-content__box {
    width: 50%;
  }
}

.top-content__item {
  width: 100%;
  display: block;
  position: relative;
}

.top-content__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.top-content__item:hover:before {
  background-color: rgba(255, 255, 255, .6);
}

.top-content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-size: 1.25rem;
  white-space: nowrap;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .top-content__text {
    font-size: 1.5625rem;
    line-height: 0.64;
  }
}

.mv {
  position: relative;
}

.mv__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.mv__title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.0178571429em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 3.125rem;
    letter-spacing: 0.01em;
  }
}

.mv__subtitle {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 22px;
  margin-top: 1.375rem;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 768px) {
  .mv__subtitle {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
  }
}

.overview {
  width: 100%;
  position: relative;
}

.overview::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  height: 0.375rem;
  top: 177px;
  top: 11.0625rem;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #f9f871;
  -webkit-transform: skewY(105deg);
          transform: skewY(105deg);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .overview::before {
    height: 0.1875rem;
    top: 35.625rem;
    -webkit-transform: skewY(135deg);
            transform: skewY(135deg);
  }
}

.overview__inner {
  padding-top: 72px;
  padding-top: 4.5rem;
}
@media screen and (min-width: 768px) {
  .overview__inner {
    padding-top: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__header {
    padding-top: 3.3125rem;
    padding-bottom: 2.375rem;
  }
}

.overview__wrapper {
  background: #3d3d3d;
}
@media screen and (min-width: 768px) {
  .overview__wrapper {
    padding-top: 5.0625rem;
    padding-bottom: 5rem;
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(70%, transparent), to(transparent));
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 70%, transparent 100%);
  }
}

.overview__contents {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .overview__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .overview__img {
    width: 100%;
    max-width: 34.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__img img {
    height: 24.3125rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .overview__body {
    padding-right: 2.0625rem;
  }
}

.overview__btn {
  margin-top: 26px;
  margin-top: 1.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview__btn {
    margin-top: 3rem;
    text-align: left;
  }
}

.works__inner {
  padding-top: 71px;
  padding-top: 4.4375rem;
}
@media screen and (min-width: 768px) {
  .works__inner {
    padding-top: 9.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .works__header {
    padding-bottom: 2.375rem;
  }
}

.works__wrapper {
  background: #3d3d3d;
}
@media screen and (min-width: 768px) {
  .works__wrapper {
    padding-top: 5.0625rem;
    padding-bottom: 5rem;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
  }
}

.works__contents {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .works__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.works__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__container {
    height: 24.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .works__slide img {
    height: 24.3125rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .works__body {
    padding-left: 2rem;
  }
}

.works__btn {
  margin-top: 26px;
  margin-top: 1.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .works__btn {
    margin-top: 3rem;
    text-align: left;
  }
}
/*# sourceMappingURL=styles.css.map */
