@use "global" as *;

.page-404 {
  text-align: center;
}

.page-404__inner {
  padding-bottom: rem(120);
  @include mq(md) {
    padding-bottom: rem(150);
  }
}

.page-404__title {
  color: $accent;
  opacity: 0.2;
  font-size: rem(40);
  font-weight: 400;
  @include l_height(40, 35);
  @include l_spacing(40, 2);
  @include mq(md) {
    font-size: rem(60);
    @include l_height(60, 35);
    @include l_spacing(60, 2);
  }
}

.page-404__text {
  margin-top: rem(80);
  font-size: rem(20);
  @include l_spacing(20, 2);
  @include mq(md) {
    font-size: rem(30);
    @include l_spacing(30, 2);
  }
}
.page-404__btn {
  margin-top: rem(80);
}
