@use "global" as *;

.article-meta {
}

.article-meta__date{
  display: inline-block;
  width: rem(88);
  @include l_height(16,32.3);
  @include l_spacing(16,0.4);
}

.article-meta__category {
  display: inline-block;
  padding: rem(8) rem(23);
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
}
