@use "global" as *;

.cards {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.cards__item {
  @include mq(md) {
    width: 100%;
    max-width: calc((100% - #{rem(25)} * 2) / 3);
  }
}

.cards__item + .cards__item {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(25);
  }
}

.cards__item:nth-of-type(3n + 1) {
  @include mq(md) {
    margin-left: 0;
  }
}

.cards__item:nth-of-type(n + 4) {
  @include mq(md) {
    margin-top: rem(25);
  }
}

.cards__item--top {
  position: relative;
  &::before {
    content: "new";
    display: block;
    position: absolute;
    top: rem(-15);
    left: rem(-15);
    width: rem(60);
    height: rem(60);
    background-color: $new;
    color: $text;
    text-transform: capitalize;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 77;
  }
}


.cards__item--recommend{
  @include mq(md) {
    width: 100%;
    max-width: calc((100% - #{rem(32)} * 3) / 4);
  }
}
.cards__item--recommend + .cards__item--recommend {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(25);
  }
}

.cards__item--recommend:nth-of-type(4n + 1) {
  @include mq(md) {
    margin-left: 0;
  }
}

.cards__item--recommend:nth-of-type(n + 5) {
  @include mq(md) {
    margin-top: rem(25);
  }
}