@use "global" as *;

.contact-form {
  padding-bottom: rem(120);
  @include mq(md) {
    padding-bottom: rem(150);
  }
}

.contact-form__item{
  @include mq(md) {
    width: 100%;
    max-width: rem(696);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
  }
}
.contact-form__item + .contact-form__item {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(45);
  }
}

.contact-form__item-label{
  font-size: rem(14);
  line-height: 1;
  @include l_spacing(14,0.7);
  @include mq(md) {
    width: 100%;
    max-width: rem(140);
    text-align: right;
  }
}

.contact-form__text {
  appearance: none;
  background-color: $white;
  background-image: none;
  border: 1px solid $black;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: rem(16);
  padding: rem(10);
  width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    max-width: rem(540);
    margin-top: 0;
    margin-left: rem(24);
  }
}

.contact-form__text:focus {
  border: 1px solid $black;
  box-shadow: none;
  outline: none;
}

.contact-form__textarea {
  appearance: none;
  background-color: $white;
  background-image: none;
  border: 1px solid $black;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: rem(16);
  height: rem(250);
  padding: rem(16) rem(7);
  width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    max-width: rem(540);
    margin-left: rem(24);
    margin-top: 0;
  }
}

.contact-form__textarea:focus {
  border: 1px solid $black;
  box-shadow: none;
  outline: none;
}

.contact-form__submit {
  font-size: rem(20);
  background-color: $white;
  color: $text;
  padding: rem(11) rem(147);
  background-image: none;
  appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  @include mq(md) {
    padding: rem(15) rem(160);
  }
}

.contact-form__submit:hover,
.contact-form__submit:focus {
  outline: none;
}

.contact-form__submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.contact-form__submit-btn {
  text-align: center;
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(56);
  }
}
