@use "global" as *;

.contact-form {
  padding-bottom: rem(120);
  @include mq(md) {
    padding-bottom: rem(150);
  }
}

.contact-form__inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: 696px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.contact-form__item {
  @include mq(md) {
    display: flex;
  }
}
.contact-form__item + .contact-form__item {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(45);
  }
}

.contact-form__submit [type="submit"] {
  font-size: rem(20);
  background-color: $white;
  color: $text;
  padding: rem(11) rem(147);
  background-image: none;
  appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  @include mq(md) {
    padding: rem(15) rem(160);
  }
}

.contact-form__submit [type="submit"]:hover,
.contact-form__submit [type="submit"]:focus {
  outline: none;
}

.contact-form__submit [type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

.contact-form__submit {
  text-align: center;
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(56);
  }
}
